@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  header {
    background-image: url(../img/halo-infinite-cover.jpeg);
  }
  nav {
    background-color: rgba(255, 255, 255, 0.4);
  }

  nav ul li a {
    color: #000;
  }

  nav ul li .link::before {
    background-color: #000;
  }
  nav .mobile .header {
    background-color: rgba(255, 255, 255, 1);
  }
  nav .mobile .header a {
    color: #000;
  }
  nav .mobile .header #bmenu {
    color: #000;
  }
  nav .mobile .links {
    background-color: #fff;
  }
  nav .mobile .links a {
    color: #000;
  }
  nav .mobile .links a:hover {
    background-color: #000;
    color: #fff;
  }
  #banner {
    color: #000;
    background-color: #fff;
  }
  h2::before {
    background-color: #8cd320;
  }
  .green-button {
    background-color: greenyellow;
    color: #000;
  }

  .green-button:hover {
    background-color: greenyellow;
  }

  .green-link {
    color: #8cd320;
  }

  .green-link::before {
    background-color: #8cd320;
  }
  h3 {
    color: #000;
  }
  #videos {
    color: #000;
  }
  @media screen and (max-width: 1519px) {
    .info {
      background-color: rgba(255, 255, 255, 0.8);
      color: #000;
    }
  }
  #get-the-game {
    color: #000;
  }

  #get-the-game h2 {
    color: #000;
  }
  footer {
    background-image: url(../img/master-chief.jpg);
  }
}

@media (prefers-color-scheme: dark) {
}
